/*========================== Variables ==========================*/
:root {
  --color-primary: #474747;
  --color-secondary: #fff;

  --studentspace-regular: 'StudentSpace-Regular';
  --studentspace-medium: 'StudentSpace-Medium';
  --studentspace-bold: 'StudentSpace-Bold';
}
