/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef; /* Fondo gris claro */
}

.container {
    width: 80%;
    overflow-x: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: solid black ;
    border-width: 1.6px;
}

th, td {
    padding: 10px;
    border: 1px solid #dee2e6; /* Color gris claro para los bordes */
    font-size: 14px;
}

th {
    background-color: #007bff; /* Azul fuerte */
    color: white;
}

td {
    height: 60px;
    vertical-align: middle;
}

.recreo {
    background-color: #b8b8b8; /* Naranja suave para el recreo */
}

.mat1 {
    background-color: #0056b3; /* Azul oscuro */
    color: white;
}

.mat2 {
    background-color: #66afe9; /* Azul medio */
    color: white;
}

.mat3 {
    background-color: #80c4de; /* Azul claro */
    color: white;
}

.mat4 {
    background-color: #4b4f54; /* Gris oscuro */
    color: white;
}

.mat5 {
    background-color: #6c757d; /* Gris medio */
    color: white;
}

.mat6 {
    background-color: #cfd4d8; /* Gris muy claro */
    color: black;
}

.mat7 {
    background-color: #007bff; /* Azul fuerte */
    color: white;
}

.mat8 {
    background-color: #1c2331; /* Azul marino oscuro */
    color: white;
}

.hour {
    width: 30px;
    text-align: center;
    justify-content: center;
}

/* Estilos de la tabla */
table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}



.counter {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}


