.sticky-note {
  width: 250px;
  height: 250px;
  background-image: url("/assets/icons/sticky-note.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #3f3f3f;
  font-size: 17px;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
  transform: rotate(-10deg);
}

.sticky-list {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-left: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  height: 400px;
  scrollbar-width: thin;
  scrollbar-color: #00000028 #ffffff00;
}

.sticky-list>* {
  direction: ltr;
  text-align: left;
  white-space: normal;
}

.sticky-list li {
  margin-bottom: 8px;
}


.sticky-list::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.sticky-list::-webkit-scrollbar-thumb {
  background-color: #00000028;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.sticky-list::-webkit-scrollbar-button {
  display: none;
}

.sticky-list::-webkit-scrollbar-track {
  background: transparent;
}

.sticky-list::-webkit-scrollbar-corner {
  background: transparent;
}