.sticky-note {
  width: 250px;
  height: 250px;

      position: absolute;
        top: 290px;
        left: 120px;

  background-image: url("../../../public/sticky-note.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #3f3f3f;
  font-size: 17px;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
  transform: rotate(-10deg);
}

.sticky-list {
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: clip;
}

/* Oculta la barra de desplazamiento en Chrome, Safari y Edge */
.sticky-list::-webkit-scrollbar {
  display: none;
}

/* Asegura que el contenido siga siendo desplazable */
.sticky-list {
  -ms-overflow-style: none;
  /* Para Internet Explorer y Edge */
  scrollbar-width: none;
  /* Para Firefox */
}

.sticky-list li {
  margin-bottom: 8px;
}

.li-icon {
  height: 25px;
}