@media (min-width: 1050px) {
  .sticky-note {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 290px;
    left: 160px;
    background-image: url('../../../public/sticky-note.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    color: #353535;
    font-size: 18px;
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;
    transform: rotate(-10deg);
  }

  .sticky-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1049px) {
  .sticky-note {
    display: none;
  }

}