/*========================== Variables ==========================*/
:root {
  --color-primary: #1d1d1d;
  --color-secondary: #fff;

  --studentspace-regular: 'StudentSpace-Regular';
  --studentspace-medium: 'StudentSpace-Medium';
  --studentspace-bold: 'StudentSpace-Bold';
}
