.current {
  border-color: #cacaca;
  border-width: 3px
}

.asgb {
  background-color: #b3b3b330;
}

.mpo {
  background-color: #73737330;
}

.sad{
  background-color: #86868630;
}

.aso {
  background-color: #bbbbbb30;
}

.iaw{
  background-color: #8f8f8f30;
}

.sasp {
  background-color: #b8b8b830;
}

.ippe {
  background-color: #6d6d6d30;
}

.sri {
  background-color: #acacac30;
}

.pias {
  background-color: #66666630;
}
