.current {
  border-color: #0099ff;
  border-width: 4px
}

.asgb {
  background-color: #b3b3b3;
}

.mpo {
  background-color: #737373;
}

.sad{
  background-color: #868686;
}

.aso {
  background-color: #bbbbbb;
}

.iaw{
  background-color: #8f8f8f;
}

.sasp {
  background-color: #b8b8b8;
}

.ippe {
  background-color: #6d6d6d;
}

.sri {
  background-color: #acacac;
}

.pias {
  background-color: #666666;
}
