.current {
  border-color: #0099ff;
  border-width: 4px
}

.fh {
  background-color: #b3b3b3;
}

.iso {
  background-color: #737373;
}

.lm {
  background-color: #868686;
}

.gbd {
  background-color: #bbbbbb;
}

.dasp {
  background-color: #8f8f8f;
}

.par {
  background-color: #b8b8b8;
}

.in {
  background-color: #c7c7c7;
}

.ippe {
  background-color: #666666;
}
