.github-button {
  color: rgb(114, 114, 114);
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: color 0.3s;
}

.github-button:hover {
  color: rgb(196, 196, 196);
}

@media (max-height: 777px) {
  .github-button {
    display: none;
  }
}